* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 30px;
    background: #d6e9fe;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 600px;
    background: #d6e9fe;
}